@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
    /* @apply bg-white dark:bg-black */

    background-color: black;
}

h1, h2, h3, h4, h5, h6, p{
    /* @apply text-slate-900 dark:text-white */

    color: white;
}

a{
    /* @apply text-slate-500 hover:text-slate-700 dark:text-white */

    color: white;
}

p{
    /* @apply text-slate-500 dark:text-slate-400 */
    @apply text-sm
}


.card{
    /* border: solid 2px blue; */

    background-color: rgba(255,255,255,0.08);

    border-radius: 32px;
    overflow: hidden;

    padding: 16px;

    /* @apply transition duration-300 transform hover:scale-105 hover:shadow-lg */
}

.imgContainer{
    width:80px;
    height: 80px;

    border-radius: 32px;

    margin-right: 16px;
    
    /* border: solid 1px red; */

    overflow: hidden;

    display: flex;

    background-color: rgba(255,255,255,0.08);
}

.thumbnail{
    object-fit: cover;

    /* center image */
    margin-left: auto;
    margin-right: auto;
}

.dates{
    color: rgba(255,255,255,0.24);
}

/* text-xs px-2 py-1 mr-2 rounded-md */

.tagContainer>p{
    font-weight: 600;
    font-size: 12px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 8px;

    color: black;
}

.tags{
    background-color: rgba(255,255,255,0.32);
}

/* category names */ 
.Study{
    background-color: #6F6FED;
}
.Read{
    background-color: #63C97C;
}
.Watch{
    background-color: #68BACC;
}
.Experience{
    background-color: #E96146;
}
.Review{
    background-color: #DA354B;
}
.Think{
    background-color: #F5C344;
}