@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
    @apply bg-white dark:bg-black
}

h1, h2, h3, h4, h5, h6, p{
    @apply text-slate-900 dark:text-white
}

a{
    @apply text-slate-500 hover:text-slate-700 dark:text-white
}

p{
    /* @apply text-slate-500 dark:text-slate-400 */
    @apply text-sm
}


.card{
    /* border: solid 2px black; */

    background-color: rgba(255,255,255,0.08);

    border-radius: 16px;
    overflow: hidden;

    @apply transition duration-300 transform hover:scale-105 hover:shadow-lg
}

.imgContainer{
    width:100%;
    height: 300px;
    
    /* border: solid 1px red; */

    overflow: hidden;

    display: flex;

    background-color: rgba(255,255,255,0.04);
}

.thumbnail{
    object-fit: contain;
    max-width: 100%;
    display: block;
}

body{
    /* background-color: black; */
}

.count{
    padding:12px;
}